In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from skimage import io
from skimage.filters import threshold_mean
import sys

sys.path.append('../')
from src.io import read_parameters

In [6]:
parameter_file = "../conf/local/parameters.yml"

parameters = read_parameters(parameter_file)

base_folder = parameters["base_folder"]
output_folder = parameters["output_folder"]
key_file_path = parameters["key_file_path"]

plot_width = 7
plot_height = 7
channel_artery = 1

key_file = pd.read_csv(key_file_path)
print(key_file.columns)
display(key_file)

#filename_GFPxERG = base_folder + "/VEGFR3Cre mTmG/P5_P6/retina1/Erg X GFP.tif"
#filename_ERG = base_folder + "/VEGFR3Cre mTmG/P5_P6/retina1/Erg_threshold.ome.tif"
#filename_drawn =  base_folder + "/VEGFR3Cre mTmG/P5_P6/retina1/Drawn.ome.tiff"

Index(['Unnamed: 0', 'filename', 'ExperimentID', 'VEGFR3CreERT2 mTmG',
       'VEGFR3CreERT2;mTmG;Cdc42Flox/Flox', 'VEGFR3CreERT2;mTmG;Rac1Flox/Flox',
       'Drawn', 'GFP X ERG', 'GFP', 'ERG', 'IB4', 'THO Injection Point',
       'Collection Point', 'None', 'Moderate', 'Strong', 'Large veins',
       'Thin arteries', 'Small radial expansion', 'Hypersprouting',
       'Large sprouting front', 'Deep layer sprouting failure',
       'Retina with problems', 'Pixel size in um', 'Analyzed by Silvanus',
       'Longest vessel', 'Average length', 'Heterozygous', 'Homozygous',
       'condition', 'time_interval', 'start_time', 'end_time', 'delta_time'],
      dtype='object')

,Unnamed: 0,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
0,0,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,1,1,0,0,1,0,0,0,...,1.0,1660.143,1185.8080,na,na,control,P5_P6,5.0,6.0,1.0
1,1,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,1,1,0,0,0,1,0,0,...,1.0,1660.143,1185.8080,na,na,control,P5_P6,5.0,6.0,1.0
2,2,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,1,1,0,0,0,0,1,0,...,1.0,1660.143,1185.8080,na,na,control,P5_P6,5.0,6.0,1.0
3,3,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,1,1,0,0,0,0,0,1,...,1.0,1660.143,1185.8080,na,na,control,P5_P6,5.0,6.0,1.0
4,4,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,2,1,0,0,1,0,0,0,...,1.0,1611.684,1239.1413,na,na,control,P5_P6,5.0,6.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,1016,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,237,0,1,0,1,0,0,0,...,0.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
946,1017,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,237,0,1,0,0,1,0,0,...,0.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
947,1018,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,237,0,1,0,0,0,1,0,...,0.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
948,1019,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,237,0,1,0,0,0,0,1,...,0.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
949,1020,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,237,0,1,0,0,0,0,0,...,0.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

In [ ]:
summary_data = pd.DataFrame()
counter = 0

experiment_IDs = key_file["ExperimentID"].unique() #[70:]
#experiment_IDs = [10]

for experiment_ID in experiment_IDs:
    print(experiment_ID)
    if experiment_ID in experiment_IDs_exclude:
        print("Excluded experiment ID: %s" % experiment_ID)
        continue
    experiment_key = key_file[key_file["ExperimentID"] == experiment_ID]
    
    
    
    display(experiment_key)
    filename_ERG = base_folder
    filename_GFPxERG = base_folder
    filename_drawn = base_folder
    
    count_img = 0
    for index, row in experiment_key.iterrows():
        
        if row["ERG"] == 1:
            filename_ERG = base_folder + row["filename"]
            count_img += 1
        if row["GFP X ERG"] == 1:
            filename_GFPxERG = base_folder + row["filename"]
            count_img += 1
        if row["Drawn"] == 1:
            filename_drawn =  base_folder + row["filename"]
            count_img += 1
            
    if count_img != 3:
        print("Need exactly 3 images, but %s were given!" % count_img)
        continue
    
    print(filename_ERG)
    print(filename_GFPxERG)
    print(filename_drawn)
    
    img_GFPxERG = np.array(io.imread(filename_GFPxERG))
    #print(img_GFPxERG.shape)
    #print(threshold_mean(img_GFPxERG))
    thresh_img_GFPxERG = img_GFPxERG > threshold_mean(img_GFPxERG)
    unique_GFPxERG, counts_GFPxERG = np.unique(thresh_img_GFPxERG, return_counts = True)    
    if counts_GFPxERG[1] > counts_GFPxERG[0]:
        thresh_img_GFPxERG = img_GFPxERG < threshold_mean(img_GFPxERG)
        unique_GFPxERG, counts_GFPxERG = np.unique(thresh_img_GFPxERG, return_counts = True)
        #counts_GFPxERG = np.count_nonzero(thresh_img_GFPxERG)
    
    #print(np.unique(img_GFPxERG))
    #print(np.unique(thresh_img_GFPxERG))
    img_ERG = np.array(io.imread(filename_ERG))
    #print(img_ERG.shape)
    #print(threshold_mean(img_ERG))
    thresh_img_ERG = img_ERG > threshold_mean(img_ERG)
    unique_ERG, counts_ERG = np.unique(thresh_img_ERG, return_counts = True) 
    if counts_ERG[1] > counts_ERG[0]:
        thresh_img_ERG = img_ERG < threshold_mean(img_ERG)
        unique_ERG, counts_ERG = np.unique(thresh_img_ERG, return_counts = True)

    img_drawn = np.array(io.imread(filename_drawn))
    print("Shape of drawn image:")
    print(img_drawn.shape)
    img_artery = img_drawn[1,:,:]
    #print(threshold_mean(img_artery))
    thresh_img_artery = img_artery > threshold_mean(img_artery)
    GFP_artery = np.logical_and(thresh_img_GFPxERG,thresh_img_artery)
    
    img_vein = img_drawn[2,:,:]
    #print(threshold_mean(img_artery))
    thresh_img_vein = img_vein > threshold_mean(img_vein)
    GFP_vein = np.logical_and(thresh_img_GFPxERG,thresh_img_vein)
    
    #unique_ERG, counts_ERG = np.unique(thresh_img_ERG, return_counts = True)
    #unique_GFP_artery, counts_GFP_artery = np.unique(GFP_artery, return_counts = True)
    #unique_GFP_vein, counts_GFP_vein = np.unique(GFP_vein, return_counts = True)
    
    counts_GFP_artery = np.count_nonzero(GFP_artery)
    counts_GFP_vein = np.count_nonzero(GFP_vein)
    
    
    #print(counts_ERG)
    #print(counts_GFPxERG)
    #print(100.0*counts_GFPxERG[1]/counts_ERG[1])
    #print(100.0*counts_GFP_artery[1]/counts_ERG[1])
    #print(100.0*counts_GFP_artery[1]/counts_GFPxERG[1])
    
    
    summary_data.at[counter,"ExperimentID"] = experiment_ID
    summary_data.at[counter,"condition"] = row["condition"]
    summary_data.at[counter,"time_interval"] = row["time_interval"]
    summary_data.at[counter,"ERG_px"] = counts_ERG[1]
    summary_data.at[counter,"GFPxERG_px"] = counts_GFPxERG[1]
    summary_data.at[counter,"GFPxERG_artery_px"] = counts_GFP_artery
    summary_data.at[counter,"GFPxERG_vein_px"] = counts_GFP_vein
    
    summary_data.to_csv(out_folder + "summary_data.csv", index=False)
    
    fig, ax = plt.subplots(3,2, figsize=(2*plot_width, 3*plot_height))
    ax[0,0].imshow(thresh_img_ERG)
    ax[0,1].imshow(thresh_img_GFPxERG)
    ax[1,0].imshow(thresh_img_artery)
    ax[1,1].imshow(GFP_artery)
    ax[2,0].imshow(thresh_img_vein)
    ax[2,1].imshow(GFP_vein)
    plt.savefig(out_folder + "validation_images/masks_experiment_id_%s.png" % experiment_ID)
    plt.close()
    
    counter += 1

1

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
0,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,1,1,0,0,1,0,0,0,NaN,...,1.0,1660.143,1185.808,na,na,control,P5_P6,5.0,6.0,1.0
1,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,1,1,0,0,0,1,0,0,NaN,...,1.0,1660.143,1185.808,na,na,control,P5_P6,5.0,6.0,1.0
2,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,1,1,0,0,0,0,1,0,NaN,...,1.0,1660.143,1185.808,na,na,control,P5_P6,5.0,6.0,1.0
3,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,1,1,0,0,0,0,0,1,NaN,...,1.0,1660.143,1185.808,na,na,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina1/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina1/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina1/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
2

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
4,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,2,1,0,0,1,0,0,0,NaN,...,1.0,1611.684,1239.1413,na,na,control,P5_P6,5.0,6.0,1.0
5,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,2,1,0,0,0,1,0,0,NaN,...,1.0,1611.684,1239.1413,na,na,control,P5_P6,5.0,6.0,1.0
6,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,2,1,0,0,0,0,1,0,NaN,...,1.0,1611.684,1239.1413,na,na,control,P5_P6,5.0,6.0,1.0
7,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,2,1,0,0,0,0,0,1,NaN,...,1.0,1611.684,1239.1413,na,na,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina1a/Erg_threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina1a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina1a/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
3

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
8,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,3,1,0,0,1,0,0,0,NaN,...,1.0,1308.571,1097.987,na,na,control,P5_P6,5.0,6.0,1.0
9,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,3,1,0,0,0,1,0,0,NaN,...,1.0,1308.571,1097.987,na,na,control,P5_P6,5.0,6.0,1.0
10,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,3,1,0,0,0,0,1,0,NaN,...,1.0,1308.571,1097.987,na,na,control,P5_P6,5.0,6.0,1.0
11,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,3,1,0,0,0,0,0,1,NaN,...,1.0,1308.571,1097.987,na,na,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina3/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina3/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina3/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
4

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
12,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,4,1,0,0,1,0,0,0,NaN,...,1.0,1395.403,1164.7062,na,na,control,P5_P6,5.0,6.0,1.0
13,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,4,1,0,0,0,1,0,0,NaN,...,1.0,1395.403,1164.7062,na,na,control,P5_P6,5.0,6.0,1.0
14,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,4,1,0,0,0,0,1,0,NaN,...,1.0,1395.403,1164.7062,na,na,control,P5_P6,5.0,6.0,1.0
15,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,4,1,0,0,0,0,0,1,NaN,...,1.0,1395.403,1164.7062,na,na,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina4/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina4/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina4/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
5

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
16,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,5,1,0,0,1,0,0,0,NaN,...,1.0,1278.67,997.620636,na,na,control,P5_P6,5.0,6.0,1.0
17,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,5,1,0,0,0,1,0,0,NaN,...,1.0,1278.67,997.620636,na,na,control,P5_P6,5.0,6.0,1.0
18,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,5,1,0,0,0,0,1,0,NaN,...,1.0,1278.67,997.620636,na,na,control,P5_P6,5.0,6.0,1.0
19,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,5,1,0,0,0,0,0,1,NaN,...,1.0,1278.67,997.620636,na,na,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina7a/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina7a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/retina7a/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
6

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
20,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,6,1,0,0,1,0,0,0,NaN,...,1.0,1378.998,1047.477,na,na,control,P5_P7,5.0,7.0,2.0
21,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,6,1,0,0,0,1,0,0,NaN,...,1.0,1378.998,1047.477,na,na,control,P5_P7,5.0,7.0,2.0
22,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,6,1,0,0,0,0,1,0,NaN,...,1.0,1378.998,1047.477,na,na,control,P5_P7,5.0,7.0,2.0
23,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,6,1,0,0,0,0,0,1,NaN,...,1.0,1378.998,1047.477,na,na,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina2/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina2/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina2/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
7

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
24,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,7,1,0,0,1,0,0,0,NaN,...,1.0,1683.383,1140.159583,na,na,control,P5_P7,5.0,7.0,2.0
25,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,7,1,0,0,0,1,0,0,NaN,...,1.0,1683.383,1140.159583,na,na,control,P5_P7,5.0,7.0,2.0
26,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,7,1,0,0,0,0,1,0,NaN,...,1.0,1683.383,1140.159583,na,na,control,P5_P7,5.0,7.0,2.0
27,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,7,1,0,0,0,0,0,1,NaN,...,1.0,1683.383,1140.159583,na,na,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina4/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina4/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina4/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
8

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
28,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,8,1,0,0,1,0,0,0,NaN,...,1.0,1415.902,1136.3865,na,na,control,P5_P7,5.0,7.0,2.0
29,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,8,1,0,0,0,1,0,0,NaN,...,1.0,1415.902,1136.3865,na,na,control,P5_P7,5.0,7.0,2.0
30,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,8,1,0,0,0,0,1,0,NaN,...,1.0,1415.902,1136.3865,na,na,control,P5_P7,5.0,7.0,2.0
31,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,8,1,0,0,0,0,0,1,NaN,...,1.0,1415.902,1136.3865,na,na,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina8/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina8/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina8/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
9

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
32,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,9,1,0,0,1,0,0,0,NaN,...,1.0,1564.132,1207.981769,na,na,control,P5_P7,5.0,7.0,2.0
33,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,9,1,0,0,0,1,0,0,NaN,...,1.0,1564.132,1207.981769,na,na,control,P5_P7,5.0,7.0,2.0
34,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,9,1,0,0,0,0,1,0,NaN,...,1.0,1564.132,1207.981769,na,na,control,P5_P7,5.0,7.0,2.0
35,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,9,1,0,0,0,0,0,1,NaN,...,1.0,1564.132,1207.981769,na,na,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina9/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina9/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/retina9/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
10

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
36,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,10,1,0,0,1,0,0,0,NaN,...,1.0,1398.856,1260.129333,na,na,control,P5_P7,5.0,7.0,2.0
37,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,10,1,0,0,0,0,1,0,NaN,...,1.0,1398.856,1260.129333,na,na,control,P5_P7,5.0,7.0,2.0

Need exactly 3 images, but 1 were given!
11

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
38,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,11,1,0,0,1,0,0,0,NaN,...,1.0,1757.861,1361.725083,na,na,control,P5_P7,5.0,7.0,2.0
39,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,11,1,0,0,0,0,1,0,NaN,...,1.0,1757.861,1361.725083,na,na,control,P5_P7,5.0,7.0,2.0

Need exactly 3 images, but 1 were given!
12

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
40,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,12,1,0,0,1,0,0,0,NaN,...,1.0,1398.511,1112.567643,na,na,control,P5_P7,5.0,7.0,2.0
41,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,12,1,0,0,0,0,1,0,NaN,...,1.0,1398.511,1112.567643,na,na,control,P5_P7,5.0,7.0,2.0

Need exactly 3 images, but 1 were given!
13

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
42,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,13,1,0,0,1,0,0,0,NaN,...,1.0,1612.753,1259.081364,na,na,control,P5_P7,5.0,7.0,2.0
43,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,13,1,0,0,0,0,1,0,NaN,...,1.0,1612.753,1259.081364,na,na,control,P5_P7,5.0,7.0,2.0

Need exactly 3 images, but 1 were given!
14

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
44,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,14,1,0,0,1,0,0,0,NaN,...,1.0,1623.897,1138.3995,na,na,control,P5_P8,5.0,8.0,3.0
45,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,14,1,0,0,0,1,0,0,NaN,...,1.0,1623.897,1138.3995,na,na,control,P5_P8,5.0,8.0,3.0
46,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,14,1,0,0,0,0,1,0,NaN,...,1.0,1623.897,1138.3995,na,na,control,P5_P8,5.0,8.0,3.0
47,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,14,1,0,0,0,0,0,1,NaN,...,1.0,1623.897,1138.3995,na,na,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina2a/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina2a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina2a/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
15

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
48,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,15,1,0,0,1,0,0,0,NaN,...,1.0,1990.605,1390.523667,na,na,control,P5_P8,5.0,8.0,3.0
49,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,15,1,0,0,0,1,0,0,NaN,...,1.0,1990.605,1390.523667,na,na,control,P5_P8,5.0,8.0,3.0
50,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,15,1,0,0,0,0,1,0,NaN,...,1.0,1990.605,1390.523667,na,na,control,P5_P8,5.0,8.0,3.0
51,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,15,1,0,0,0,0,0,1,NaN,...,1.0,1990.605,1390.523667,na,na,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina2b/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina2b/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina2b/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
16

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
52,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,16,1,0,0,1,0,0,0,NaN,...,1.0,1694.867,1133.021909,na,na,control,P5_P8,5.0,8.0,3.0
53,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,16,1,0,0,0,1,0,0,NaN,...,1.0,1694.867,1133.021909,na,na,control,P5_P8,5.0,8.0,3.0
54,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,16,1,0,0,0,0,1,0,NaN,...,1.0,1694.867,1133.021909,na,na,control,P5_P8,5.0,8.0,3.0
55,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,16,1,0,0,0,0,0,1,NaN,...,1.0,1694.867,1133.021909,na,na,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina4a/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina4a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina4a/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
17

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
56,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,17,1,0,0,1,0,0,0,NaN,...,1.0,1408.818,1152.9216,na,na,control,P5_P8,5.0,8.0,3.0
57,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,17,1,0,0,0,1,0,0,NaN,...,1.0,1408.818,1152.9216,na,na,control,P5_P8,5.0,8.0,3.0
58,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,17,1,0,0,0,0,1,0,NaN,...,1.0,1408.818,1152.9216,na,na,control,P5_P8,5.0,8.0,3.0
59,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,17,1,0,0,0,0,0,1,NaN,...,1.0,1408.818,1152.9216,na,na,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina5a/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina5a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina5a/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
18

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
60,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,18,1,0,0,1,0,0,0,NaN,...,1.0,1648.768,978.841733,na,na,control,P5_P8,5.0,8.0,3.0
61,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,18,1,0,0,0,1,0,0,NaN,...,1.0,1648.768,978.841733,na,na,control,P5_P8,5.0,8.0,3.0
62,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,18,1,0,0,0,0,1,0,NaN,...,1.0,1648.768,978.841733,na,na,control,P5_P8,5.0,8.0,3.0
63,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,18,1,0,0,0,0,0,1,NaN,...,1.0,1648.768,978.841733,na,na,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina7/Erg_threshold.ome.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina7/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/retina7/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
21

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
64,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,21,1,0,0,1,0,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
65,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,21,1,0,0,0,1,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
66,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,21,1,0,0,0,0,1,0,NaN,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
67,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,21,1,0,0,0,0,0,1,NaN,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
68,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,21,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina5/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina5/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina5/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
22

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
69,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,22,1,0,0,1,0,0,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
70,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,22,1,0,0,0,1,0,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
71,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,22,1,0,0,0,0,1,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
72,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,22,1,0,0,0,0,0,1,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
73,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,22,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina5a/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina5a/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina5a/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
23

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
74,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,23,1,0,0,1,0,0,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
75,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,23,1,0,0,0,1,0,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
76,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,23,1,0,0,0,0,1,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
77,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,23,1,0,0,0,0,0,1,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
78,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,23,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina1a/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina1a/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina1a/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
24

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
79,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,24,1,0,0,1,0,0,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
80,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,24,1,0,0,0,1,0,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
81,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,24,1,0,0,0,0,1,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
82,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,24,1,0,0,0,0,0,1,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
83,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,24,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina1/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina1/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3Cre mTmG 2Dez15 retina1/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
25

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
84,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,25,1,0,0,1,0,0,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
85,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,25,1,0,0,0,0,1,0,0.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
86,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,25,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0

Need exactly 3 images, but 1 were given!
26

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
87,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,26,1,0,0,1,0,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
88,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,26,1,0,0,0,0,1,0,NaN,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0
89,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,26,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P5_P9,5.0,9.0,4.0

Need exactly 3 images, but 1 were given!
35

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
90,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,35,1,0,0,1,0,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
91,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,35,1,0,0,0,1,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
92,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,35,1,0,0,0,0,1,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
93,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,35,1,0,0,0,0,0,1,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
94,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,35,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 14 Erg647 IB4 548/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 14 Erg647 IB4 548/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 14 Erg647 IB4 548/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
36

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
95,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,36,1,0,0,1,0,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
96,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,36,1,0,0,0,1,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
97,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,36,1,0,0,0,0,1,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
98,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,36,1,0,0,0,0,0,1,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
99,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,36,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 4 Erg647 IB4 548/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 4 Erg647 IB4 548/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 4 Erg647 IB4 548/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
37

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
100,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,37,1,0,0,1,0,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
101,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,37,1,0,0,0,1,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
102,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,37,1,0,0,0,0,1,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
103,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,37,1,0,0,0,0,0,1,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
104,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,37,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 8 Erg647 IB4 548/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 8 Erg647 IB4 548/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 8 Erg647 IB4 548/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
38

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
105,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,38,1,0,0,1,0,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
106,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,38,1,0,0,0,1,0,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
107,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,38,1,0,0,0,0,1,0,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
108,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,38,1,0,0,0,0,0,1,NaN,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0
109,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,38,1,0,0,0,0,0,0,1.0,...,1.0,NaN,NaN,na,na,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 1 Erg647 IB4 548/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 1 Erg647 IB4 548/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/VEGFR3Cre mTmG Injected P8 culled P9 27May16/VEGFR3Cre mTmG Retina 1 Erg647 IB4 548/Drawn.ome.tiff
Shape of drawn image:
(7, 6144, 6144)
39

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
110,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,39,1,0,0,1,0,0,0,NaN,...,0.0,1563.627,1101.9378,na,na,control,P5_P9,5.0,9.0,4.0
111,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,39,1,0,0,0,1,0,0,NaN,...,0.0,1563.627,1101.9378,na,na,control,P5_P9,5.0,9.0,4.0
112,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,39,1,0,0,0,0,1,0,NaN,...,0.0,1563.627,1101.9378,na,na,control,P5_P9,5.0,9.0,4.0
113,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,39,1,0,0,0,0,0,1,NaN,...,0.0,1563.627,1101.9378,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#2 ERG647 IB4 468 GFP Cre Pos/Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#2 ERG647 IB4 468 GFP Cre Pos/Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#2 ERG647 IB4 468 GFP Cre Pos/Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
40

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
114,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,40,1,0,0,1,0,0,0,NaN,...,0.0,1540.971,1029.4774,na,na,control,P5_P9,5.0,9.0,4.0
115,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,40,1,0,0,0,1,0,0,NaN,...,0.0,1540.971,1029.4774,na,na,control,P5_P9,5.0,9.0,4.0
116,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,40,1,0,0,0,0,1,0,NaN,...,0.0,1540.971,1029.4774,na,na,control,P5_P9,5.0,9.0,4.0
117,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,40,1,0,0,0,0,0,1,NaN,...,0.0,1540.971,1029.4774,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#2 ERG647 IB4 468 GFP Cre Pos/Retina 2/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#2 ERG647 IB4 468 GFP Cre Pos/Retina 2/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#2 ERG647 IB4 468 GFP Cre Pos/Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
41

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
118,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,41,1,0,0,1,0,0,0,NaN,...,0.0,1408.152,1114.032,na,na,control,P5_P9,5.0,9.0,4.0
119,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,41,1,0,0,0,1,0,0,NaN,...,0.0,1408.152,1114.032,na,na,control,P5_P9,5.0,9.0,4.0
120,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,41,1,0,0,0,0,1,0,NaN,...,0.0,1408.152,1114.032,na,na,control,P5_P9,5.0,9.0,4.0
121,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,41,1,0,0,0,0,0,1,NaN,...,0.0,1408.152,1114.032,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#3 ERG647 IB4 468 GFP Cre Pos/Retina #1/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#3 ERG647 IB4 468 GFP Cre Pos/Retina #1/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#3 ERG647 IB4 468 GFP Cre Pos/Retina #1/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
42

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
122,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,42,1,0,0,1,0,0,0,NaN,...,0.0,1620.445,1200.883875,na,na,control,P5_P9,5.0,9.0,4.0
123,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,42,1,0,0,0,1,0,0,NaN,...,0.0,1620.445,1200.883875,na,na,control,P5_P9,5.0,9.0,4.0
124,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,42,1,0,0,0,0,1,0,NaN,...,0.0,1620.445,1200.883875,na,na,control,P5_P9,5.0,9.0,4.0
125,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,42,1,0,0,0,0,0,1,NaN,...,0.0,1620.445,1200.883875,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#3 ERG647 IB4 468 GFP Cre Pos/Retina #2/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#3 ERG647 IB4 468 GFP Cre Pos/Retina #2/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#3 ERG647 IB4 468 GFP Cre Pos/Retina #2/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
43

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
126,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,43,1,0,0,1,0,0,0,NaN,...,0.0,1237.319,995.448556,na,na,control,P5_P9,5.0,9.0,4.0
127,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,43,1,0,0,0,1,0,0,NaN,...,0.0,1237.319,995.448556,na,na,control,P5_P9,5.0,9.0,4.0
128,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,43,1,0,0,0,0,1,0,NaN,...,0.0,1237.319,995.448556,na,na,control,P5_P9,5.0,9.0,4.0
129,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,43,1,0,0,0,0,0,1,NaN,...,0.0,1237.319,995.448556,na,na,control,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#4 ERG647 IB4 468 GFP Cre Pos/Retina 1/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#4 ERG647 IB4 468 GFP Cre Pos/Retina 1/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P9/VEGFR3CremTmG p5p9 B800/#4 ERG647 IB4 468 GFP Cre Pos/Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
44
Excluded experiment ID: 44
50

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
134,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,50,0,1,0,1,0,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
135,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,50,0,1,0,0,1,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
136,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,50,0,1,0,0,0,1,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
137,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,50,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #2/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #2/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #2/Drawn.ome.tiff
Shape of drawn image:
(7, 4747, 4736)
51

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
138,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,51,0,1,0,1,0,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
139,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,51,0,1,0,0,1,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
140,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,51,0,1,0,0,0,1,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
141,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,51,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #2b/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #2b/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #2b/Drawn.ome.tiff
Shape of drawn image:
(7, 5678, 5706)
52

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
142,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,52,0,1,0,1,0,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
143,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,52,0,1,0,0,1,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
144,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,52,0,1,0,0,0,1,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
145,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,52,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #3/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #3/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #3/Drawn.ome.tiff
Shape of drawn image:
(7, 5673, 5690)
53

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
146,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,53,0,1,0,1,0,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
147,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,53,0,1,0,0,1,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
148,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,53,0,1,0,0,0,1,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
149,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,53,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #3b/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #3b/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #3b/Drawn.ome.tiff
Shape of drawn image:
(7, 5672, 5681)
54

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
150,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,54,0,1,0,1,0,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
151,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,54,0,1,0,0,1,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
152,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,54,0,1,0,0,0,1,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
153,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,54,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #4/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #4/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #4/Drawn.ome.tiff
Shape of drawn image:
(7, 5692, 5514)
85

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
154,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,85,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
155,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,85,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
156,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,85,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
157,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,85,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

Need exactly 3 images, but 4 were given!
55

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
158,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,55,0,1,0,1,0,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
159,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,55,0,1,0,0,1,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
160,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,55,0,1,0,0,0,1,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
161,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,55,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #5/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #5/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #5/Drawn.ome.tiff
Shape of drawn image:
(7, 4744, 4743)
56

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
162,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,56,0,1,0,1,0,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
163,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,56,0,1,0,0,1,0,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
164,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,56,0,1,0,0,0,1,0,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0
165,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,56,0,1,0,0,0,0,1,NaN,...,1.0,NaN,NaN,NaN,NaN,Cdc42,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #5b/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #5b/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P6 Heterozygous/Retina #5b/Drawn.ome.tiff
Shape of drawn image:
(7, 4744, 4838)
57

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
166,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,57,0,1,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
167,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,57,0,1,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
168,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,57,0,1,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
169,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,57,0,1,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #1/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #1/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #1/Drawn.ome.tiff
Shape of drawn image:
(7, 6552, 6552)
58

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
170,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,58,0,1,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
171,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,58,0,1,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
172,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,58,0,1,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
173,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,58,0,1,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #2/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #2/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #2/Drawn.ome.tiff
Shape of drawn image:
(7, 6552, 6552)
59

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
174,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,59,0,1,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
175,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,59,0,1,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
176,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,59,0,1,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
177,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,59,0,1,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #4/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #4/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #4/Drawn.ome.tiff
Shape of drawn image:
(7, 6552, 6552)
60

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
178,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,60,0,1,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
179,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,60,0,1,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
180,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,60,0,1,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0
181,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,60,0,1,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #5/Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #5/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P7 (B697)/Retina #5/Drawn.ome.tiff
Shape of drawn image:
(7, 6552, 6552)
61

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
182,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,61,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
183,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,61,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
184,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,61,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
185,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,61,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#1/Erg Threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#1/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#1/Drawn.ome.tiff
Shape of drawn image:
(7, 4746, 4742)
62

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
186,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,62,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
187,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,62,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
188,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,62,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
189,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,62,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#1a/Erg threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#1a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#1a/Drawn.ome.tiff
Shape of drawn image:
(7, 4733, 4735)
63

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
190,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,63,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
191,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,63,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
192,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,63,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
193,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,63,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#2/Erg threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#2/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#2/Drawn.ome.tiff
Shape of drawn image:
(7, 5667, 5670)
64

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
194,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,64,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
195,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,64,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
196,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,64,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
197,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,64,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#2a/Erg threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#2a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#2a/Drawn.ome.tiff
Shape of drawn image:
(7, 5669, 5656)
65

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
198,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,65,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
199,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,65,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
200,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,65,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
201,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,65,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#3/Erg threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#3/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#3/Drawn.ome.tiff
Shape of drawn image:
(7, 5672, 5672)
66

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
202,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,66,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
203,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,66,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
204,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,66,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
205,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,66,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#3a/Erg threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#3a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#3a/Drawn.ome.tiff
Shape of drawn image:
(7, 4740, 4745)
67

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
206,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,67,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
207,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,67,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
208,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,67,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
209,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,67,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#5/Erg threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#5/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#5/Drawn.ome.tiff
Shape of drawn image:
(7, 5655, 5648)
68

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
210,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,68,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
211,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,68,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
212,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,68,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0
213,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,68,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#5a/Erg threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#5a/Erg X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P6/B646/#5a/Drawn.ome.tiff
Shape of drawn image:
(7, 4728, 4722)
69

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
214,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,69,0,1,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P9,5.0,9.0,4.0
215,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,69,0,1,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P9,5.0,9.0,4.0
216,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,69,0,1,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P9,5.0,9.0,4.0
217,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,69,0,1,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P9 (B697)/Cdc42fl_mTmG_Vegfr3iCre_p5-p9_B697/Animal#2 Retina 1/Erg .tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P9 (B697)/Cdc42fl_mTmG_Vegfr3iCre_p5-p9_B697/Animal#2 Retina 1/GFP X Erg.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P9 (B697)/Cdc42fl_mTmG_Vegfr3iCre_p5-p9_B697/Animal#2 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
70

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
218,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,70,0,1,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P9,5.0,9.0,4.0
219,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,70,0,1,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P9,5.0,9.0,4.0
220,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,70,0,1,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P9,5.0,9.0,4.0
221,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,70,0,1,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Cdc42,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P9 (B697)/Cdc42fl_mTmG_Vegfr3iCre_p5-p9_B697/Animal#2 Retina 2/Erg threshold.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P9 (B697)/Cdc42fl_mTmG_Vegfr3iCre_p5-p9_B697/Animal#2 Retina 2/ERG X GFP.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Cdc42 Flox/P5_P9 (B697)/Cdc42fl_mTmG_Vegfr3iCre_p5-p9_B697/Animal#2 Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
73

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
222,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,73,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
223,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,73,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
224,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,73,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
225,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,73,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#1_retina2_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#1_retina2_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#1_retina2_drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
74

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
226,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,74,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
227,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,74,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
228,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,74,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
229,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,74,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#2_retina1_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#2_retina1_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#2_retina1_drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
75

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
230,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,75,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
231,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,75,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
232,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,75,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
233,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,75,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#2_retina2_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#2_retina2_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C2-MAX_Animal#2_retina2_drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
76

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
234,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,76,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
235,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,76,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
236,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,76,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0
237,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,76,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C3-MAX_Animal#1_retina1_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C3-MAX_Animal#1_retina1_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P7/Rac1fl_mTmG_Vegfr3iCre_p5-p7_B777/C3-MAX_Animal#1_retina1_drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
77

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
238,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,77,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
239,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,77,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
240,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,77,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
241,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,77,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#1_retina1_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#1_retina1_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#1_retina1_Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
78

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
242,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,78,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
243,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,78,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
244,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,78,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
245,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,78,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#1_retina2_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#1_retina2_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#1_retina2_Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
79

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
246,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,79,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
247,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,79,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
248,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,79,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
249,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,79,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#2_retina1_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#2_retina1_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#2_retina1_Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
80

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
250,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,80,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
251,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,80,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
252,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,80,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0
253,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,80,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#2_retina2_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#2_retina2_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P8/Rac1fl_mTmG_Vegfr3iCre_p5-p8_B777/C2-MAX_Animal#2_retina2_Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
82

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
254,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,82,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
255,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,82,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
256,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,82,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
257,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,82,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C3-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 1 retina1_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C3-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 1 retina1_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C3-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 1 retina1_Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
83

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
258,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,83,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
259,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,83,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
260,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,83,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
261,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,83,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C2-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 1 retina2_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C2-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 1 retina2_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C2-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 1 retina2_Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
84

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
262,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,84,0,0,1,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
263,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,84,0,0,1,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
264,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,84,0,0,1,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0
265,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,84,0,0,1,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,Rac1,P5_P9,5.0,9.0,4.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C2-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 2 retina1_ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C2-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 2 retina1_GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG Rac1Flox/P5_P9/700/Rac1fl_mTmG_Vegfr3iCre_p5-p9_B777/C2-MAX_Rac1flVEGFR3mTmG P5_P9 B777 Animal 2 retina1_Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
87

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
266,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,87,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
267,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,87,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
268,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,87,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
269,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,87,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #5 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #5 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #5 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
88
Excluded experiment ID: 88
89

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
274,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,89,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
275,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,89,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
276,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,89,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
277,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,89,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #6 Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #6 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #6 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
90

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
278,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,90,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
279,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,90,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
280,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,90,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
281,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,90,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
282,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,90,1,0,0,0,0,0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #3 Retina 1/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #3 Retina 1/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #3 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
91

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
283,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,91,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
284,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,91,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
285,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,91,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
286,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,91,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #2 retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #2 retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #2 retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
92

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
287,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,92,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
288,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,92,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
289,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,92,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
290,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,92,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #2 retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #2 retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #2 retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
93

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
291,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,93,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
292,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,93,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
293,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,93,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
294,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,93,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #3 retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #3 retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #3 retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
94

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
295,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,94,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
296,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,94,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
297,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,94,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
298,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,94,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #3 retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #3 retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #3 retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
95

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
299,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,95,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
300,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,95,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
301,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,95,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
302,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,95,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #4 retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #4 retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #4 retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 7474, 7474)
96

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
303,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,96,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
304,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,96,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
305,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,96,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
306,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,96,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #6 Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #6 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #6 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
97

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
307,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,97,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
308,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,97,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
309,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,97,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
310,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,97,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #7 Retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #7 Retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #7 Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
98

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
311,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,98,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
312,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,98,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
313,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,98,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
314,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,98,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #8 Retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #8 Retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #8 Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
99

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
315,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,99,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
316,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,99,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
317,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,99,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
318,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,99,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #8 Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #8 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #8 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
100

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
319,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,100,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
320,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,100,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
321,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,100,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
322,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,100,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #9 retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #9 retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #9 retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
101

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
323,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,101,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
324,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,101,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
325,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,101,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
326,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,101,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #9 Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #9 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/Vegfr3iCre_mTmG_B973_p5-p8_WITH TAM CTRL/Animal #9 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
102

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
327,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,102,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
328,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,102,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
329,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,102,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
330,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,102,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
331,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,102,1,0,0,0,0,0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #3 Retina 2/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #3 Retina 2/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #3 Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
104

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
332,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,104,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
333,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,104,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
334,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,104,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
335,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,104,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #2 Retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #2 Retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #2 Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
106

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
336,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,106,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
337,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,106,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
338,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,106,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
339,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,106,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #6 Retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #6 Retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B971_p5-p6/Animal #6 Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
107

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
340,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,107,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
341,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,107,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
342,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,107,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0
343,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,107,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P8,5.0,8.0,3.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/B800 P5P8 No VEGFR3CreERT2/Animal 2/Retina 1/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/B800 P5P8 No VEGFR3CreERT2/Animal 2/Retina 1/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P8/B800 P5P8 No VEGFR3CreERT2/Animal 2/Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
108

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
344,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,108,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
345,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,108,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
346,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,108,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
347,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,108,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #4 retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #4 retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #4 retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
109

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
348,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,109,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
349,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,109,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
350,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,109,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
351,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,109,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #5 retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #5 retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #5 retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
110

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
352,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,110,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
353,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,110,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
354,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,110,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
355,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,110,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #5 retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #5 retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #5 retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
111

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
356,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,111,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
357,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,111,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
358,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,111,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
359,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,111,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #6 Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #6 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #6 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
112

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
360,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,112,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
361,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,112,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
362,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,112,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0
363,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,112,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P5_P7,5.0,7.0,2.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #6 Retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #6 Retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P7/Vegfr3iCre_mTmG_B971_p5-p7/Animal #6 Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 8396, 8396)
113

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
364,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,113,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
365,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,113,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
366,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,113,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
367,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,113,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #5 Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #5 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #5 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
114

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
368,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,114,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
369,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,114,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
370,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,114,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
371,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,114,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #5 Retina 2/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #5 Retina 2/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #5 Retina 2/Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
115

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
372,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,115,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
373,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,115,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
374,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,115,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
375,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,115,1,0,0,0,0,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #4 Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #4 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #4 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
116

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
376,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,116,1,0,0,1,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
377,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,116,1,0,0,0,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
378,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,116,1,0,0,0,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0
379,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,116,1,0,0,0,0,0,1,NaN,...,0.0,NaN,NaN,NaN,NaN,control,P8_P9,8.0,9.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #6 Retina 1/ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #6 Retina 1/GFP X ERG.tif
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P8_P9/Vegfr3iCre_mTmG_B780_p8-p9/Animal #6 Retina 1/Drawn.ome.tiff
Shape of drawn image:
(7, 9318, 9318)
117

,filename,ExperimentID,VEGFR3CreERT2 mTmG,VEGFR3CreERT2;mTmG;Cdc42Flox/Flox,VEGFR3CreERT2;mTmG;Rac1Flox/Flox,Drawn,GFP X ERG,GFP,ERG,IB4,...,Analyzed by Silvanus,Longest vessel,Average length,Heterozygous,Homozygous,condition,time_interval,start_time,end_time,delta_time
380,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,117,1,0,0,1,0,0,0,0.0,...,0.0,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
381,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,117,1,0,0,0,1,0,0,0.0,...,0.0,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
382,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,117,1,0,0,0,0,1,0,0.0,...,0.0,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
383,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,117,1,0,0,0,0,0,1,0.0,...,0.0,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0
384,/mouse_retina/data VEGFR3CRe and Rac and Cdc42...,117,1,0,0,0,0,0,0,1.0,...,0.0,NaN,NaN,NaN,NaN,control,P5_P6,5.0,6.0,1.0

/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B1032_p5-p6/Vegfr3iCre_mTmG_B1032_p5-p6_Animal#1_Retina#1/ERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B1032_p5-p6/Vegfr3iCre_mTmG_B1032_p5-p6_Animal#1_Retina#1/GFPxERG.ome.tiff
/media/fjodor/TOSHIBA//mouse_retina/data VEGFR3CRe and Rac and Cdc42/VEGFR3Cre mTmG/P5_P6/Vegfr3iCre_mTmG_B1032_p5-p6/Vegfr3iCre_mTmG_B1032_p5-p6_Animal#1_Retina#1/Drawn.ome.tiff